@import 'theme/variables.scss';

$height: 279px;

.list {
  height: $height;

  &:nth-child(2) li {
    border-left: solid 1px lightgrey;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    min-height: $height;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 26px;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background: $lighter-grey-hover;
      }

      &:not(:first-child) {
        border-top: solid 1px $lighter-grey;
      }

      &:last-child {
        border-bottom: solid 1px $lighter-grey;
      }

      &.missing-name {
        color: $secondary-color;
        display: flex;
        justify-content: center;

        .message {
          opacity: .5;
        }
      }

      &.matches-missing-name {

        span{
          opacity: .5;
        }
      }

      &.selected-file {
        background-color: $lighter-grey-focus;

        .message {
          opacity: 1;
        }
      }
    }


    &[data-list-type="names"] {
      li {
        cursor: not-allowed;

        &:hover {
          background: initial;
        }
      }
    }

    &[data-list-type="files"] {
      li {
        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

  }

}