@import 'theme/variables.scss';

.rename {

  .titles {
    display: flex;
    justify-content: center;

    h3 {
      margin: auto;
      margin-bottom: 12px;
    }
  }

  .name-display {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    height: 279px;
    border: $border;
    border-radius: $border-radius;


    &.scrollY {
      overflow-y: scroll;
      overflow-y: overlay; // If it's available
    }
  }

  .controls-container {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 5px;
  }

  .modifications-container {
    display: flex;
    div {
      display: grid;
      justify-content: flex-end;
      margin: 0 10px 5px;

      div {
        display: grid;
        margin-left: 0;
        width: 225px;
        align-items: center;
        justify-content: start;

        input {
          width: inherit;
        }
      }

      label {
        color: $secondary-color;
      }
    }
  }
}