// Colors
$secondary-color: #A95757;
$grey: #565656;
$lighter-grey: #EAECEE;
$lighter-grey-hover: #EEEEEE;
$lighter-grey-alt: $lighter-grey-hover;
$lighter-grey-focus: #D1D1D1;
$darker-grey: hsl(0, 0%, 22%);

// Borders
$border: 1px solid lightgrey;
$border-radius: 2px;