@import 'theme/variables.scss';

.main {
  display: flex;
  justify-content: center;

  section {
    max-width: 1280px;
    width: 100%;
    padding: 1rem;
  }

  h2, h3, h4, h5, h6 {
    color: $secondary-color;
  }

  h1, p {
      color: $dark-charcoal;
  }
}